body {
    background-attachment: fixed;
}

#editor {
    width: 500px;
    height: 30%;
    border: 1px solid black;
    padding: 5px;
}

#ModelComponentsToolbar, #LayoutsToolbar, #LibraryModulesToolbar {
    height: 60%;
    background: #EEE;
    padding:10px;
    
}

/* Contains components to assemble models */
#ModelComponentsToolbar, #LayoutsToolbar, #LibraryModulesToolbar {
	width: 160px;
}

#ModelComponentsToolbar > ul > li, #LayoutsToolbar > ul > li, #LibraryModulesToolbar ul > li {
	margin-top: 10px;
} 

.ui-draggable:hover {
	cursor: pointer;
}

.droppable-hover {
	border: 4px solid blue;
}

nav > ul > li * {
	cursor: pointer;	
}

#main {
	width: 1090px; 
	margin-left: 20px;
}

.ui-resizable-s {
	bottom: 0px;
}
.drag-handle, .rotate-handle {
	display: inline-block;
}

.content {
	margin-top: 50px;
}

h1 {
	padding-top: 10;
	text-align: center;
}

.glyphicon {
	cursor: pointer;
}

.panel-title {
	font-size: 100%;
}

.panel-heading {
	padding-left: 5px;
}

.panel-body {
	padding: 0px;
}

.panel-body ul {
	list-style-type: none;
	padding-left: 10px;
}

.popover-content {
	color: black;
}