.changeUnit {
  border: 1px solid #bbb;
  color: #bbb;
  background: #eee;
  border-radius: 2px;
  padding: 2px;
  font-size: 9px;
  float: right;
  line-height: 9px;
  margin: 3px 3px 0 0;
}
.changeUnit:hover {
  border: 1px solid #777;
  color: #777;
  cursor: pointer;
}
.changeUnit.pressed {
  background-color: #999;
}
.unitMenu {
  position: absolute;
  border: 1px solid #ccc;
  margin-top: 18px;
  box-shadow: 0 1px 3px -1px #323232;
  background: white;
  padding: 0;
  font-size: 13px;
  display: none;
  z-index: 10;
}
.unitMenu li {
  text-align: left;
  list-style: none;
  padding: 2px 20px;
  cursor: pointer;
  margin-bottom: 0;
}
.unitMenu li.active:before {
  font-size: 12px;
  content: "\2714";
  margin-left: -15px;
  margin-right: 3px;
}
.unitMenu li:hover {
  background: #eee;
}