#editor {
    width: 500px;
    height: 30%;
    border: 1px solid black;
    padding: 5px;
}

#ModelComponentsToolbar, #LayoutsToolbar {
    height: 60%;
    background: #EEE;
    margin: 10px;
    margin-left: 20px;
    padding:10px;
    
}

/* Contains components to assemble models */
#ModelComponentsToolbar, #LayoutsToolbar {
	width: 120px;
}

#ModelComponentsToolbar > ul > li, #LayoutsToolbar > ul > li {
	margin-top: 10px;
} 

.ui-draggable:hover {
	cursor: pointer;
}

.droppable-hover {
	border: 4px solid blue;
}

#main {
	width: 1090px; 
}