body {
	margin-left: 10px;	
}

#editor {
    width: 500px;
    height: 30%;
    border: 1px solid black;
    padding: 5px;
}
#board, #ModelComponentsToolbar {
    height: 60%;
    padding: 5px;
    background: #EEE;
    margin: 10px;
    padding:10px;
}

/* Contains components to assemble models */
#ModelComponentsToolbar {
	width: 120px;
}

#ModelComponentsToolbar > ul > li {
	margin-top: 10px;
} 


#board {
	width: 550px;
}

.board-hover {
	border: 1px solid black;
}

.row {
	margin-top: 5px;
}

.e-component-variable {
		
}

.e-component-table {
	
}
