<!-- Stem Model User Access -->
<script type="text/ng-template" id="stem-modal-user-access.html">
  <div class="modal-header">
    <h1 class="modal-title under-construction">UNDER CONSTRUCTION!</h1>
  <h3 class="modal-title">Share with others</h3>
  </div>
  <div class="modal-body">
    <div>Model: {{model.name}}</div>
    <div>Link to share: <a href="{{linkToShare}}">{{linkToShare}}</a></div>
    <ul>
      <li ng-repeat="item in items">
        <a href="#" ng-click="$event.preventDefault(); selected.item = item">{{ item }}</a>
      </li>
    </ul>
    Selected: <b>{{ selected.item }}</b>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()">OK</button>
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
  </div>
</script>
    
<!-- Stem Model Properties Modal -->
<script type="text/ng-template" id="stem-model-properties.html">
<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal"
    aria-label="Close">
    <span aria-hidden="true" ng-click="ok()">&times;</span>
  </button>
  <h3 class="modal-title">Properties</h3>
</div>
<div class="modal-body">
  <form>
    <div>name</div>
    <input type="text" style="width: 500px;" ng-model="model.name" required>
    <div></div>
    <div>description</div>
    <textarea ng-model="model.description" rows="10" style="width: 500px;"></textarea>
    <div>background image</div>
    <input type="text" style="width: 500px;" ng-model="model.background">
  </form>
</div>
<div class="modal-footer">
  <button class="btn btn-default" ng-click="ok()">OK</button>
</div>
</script>
