{% raw %}
<!-- Stem Modal -->
<script type="text/ng-template" id="stem-modal.html">
<div class="modal fade" id="{{stemModel._id.$oid}}-modal">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"
					aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title">Properties</h4>
			</div>
			<div class="modal-body">
				<form>
					<div>name</div>
					<input type="text" ng-model="stemModel.name" required>
					<div>description</div>
					<input type="text" ng-model="stemModel.description">
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">OK</button>
			</div>
		</div>
	</div>
</div>
</script>

<!-- Stem Board -->
<script type="text/ng-template" id="stem-board.html">
<div ng-repeat="layout in stemBoard.layouts">
	<div ng-switch on="layout.type">
		<div ng-switch-when="grid">
			<div stem-grid-layout="layout"></div>
		</div>
		<div ng-switch-when="free">
			<div stem-free-layout="layout"></div>
		</div>
	</div>
</div>
</script>

<!-- Stem Grid Layout -->
<script type="text/ng-template" id="stem-grid-layout.html">
  <div id="{{stemLayout.id}}" style="background: #EEE; padding: 10px; margin: 10px; float: left;">
	<button class="close" ng-click="$parent.removeLayout(stemLayout)">&times;</button>
	<div class="sortables_div" style="overflow: auto; height: 100%;">
		<div ng-repeat="field in stemLayout.fields">
		  <div ng-switch on="field.type">
		    <div ng-switch-when="stem.ScalarField">
		      <div stem-scalar="field" layout="stemLayout.type" layout-id="stemLayout.id">></div>
		      <div stem-scalar-editor="field"></div>
		    </div>
		    <div ng-switch-when="stem.TableField">
		      <div stem-table="field"></div>
		    </div>
		    <div ng-switch-when="stem.TextField">
		      <div stem-text-area="field" layout="stemLayout.type" layout-id="stemLayout.id"></div>
		      <div stem-text-area-editor="field"></div>
		    </div>
		    <div ng-switch-when="stem.FormulasField">
		      <div stem-formulas="field"></div>
		    </div>
		    <div ng-switch-default>
		      Unimplemented type {{field.type}}
		    </div>
		  </div>
		</div>
	</div>
  </div>
</script>

<!-- Stem Free Layout -->
<script type="text/ng-template" id="stem-free-layout.html">
  <div id="{{stemLayout.id}}" style="overflow: auto; background: #EEE; padding: 10px; margin: 10px; float: left;">
	<button class="close" style="" ng-click="$parent.removeLayout(stemLayout)">&times;</button>
	<div id="{{stemLayout.id}}-draggables_div" style="height: 100%;">
		<div ng-repeat="field in stemLayout.fields">
		  <div ng-switch on="field.type">
		    <div ng-switch-when="stem.ScalarField">
		      <div stem-scalar="field" layout="stemLayout.type" layout-id="stemLayout.id" style="position: absolute; left: {{field.left}}; top: {{field.top}}; transform: rotate({{field.angle}}deg);"></div>
		      <div stem-scalar-editor="field"></div>
		    </div>
		    <div ng-switch-when="stem.TextField">
		      <div stem-text-area="field" layout="stemLayout.type" layout-id="stemLayout.id" style="position: absolute; left: {{field.left}}; top: {{field.top}}; transform: rotate({{field.angle}}deg);"></div>
		      <div stem-text-area-editor="field"></div>
		    </div>
		    <div ng-switch-default>
		      Unimplemented type {{field.type}}
		    </div>
		  </div>
		</div>
	</div>
  </div>
</script>

<!-- Stem Scalar -->
<script type="text/ng-template" id="stem-scalar.html">
<div id="{{stemScalar.id}}" style="width: 438px; margin: 6px; padding: 5px; border: solid 1px #AAA; background: white;">
  <div>
    <div style="display: inline-block; width: 100px;">
    	<span class="ui-icon ui-icon-arrowthick-2-n-s drag-handle"></span>
    	<span class="ui-icon ui-icon-arrowrefresh-1-e rotate-handle" ng-click="rotate()" ng-if="layout=='free'"></span>
    	<span style="color: blue; cursor: pointer;" ng-click="edit()">{{stemScalar.name}}</span>
    </div>
    <input style="display: inline-block; height: 30px; width: 100px; margin-right: 5px;" type="text" 
    	ng-model= "displayValue" ng-change="onInputValueChange()" ng-blur="onUnitChange()">
    <select style="height: 30px;" ng-model="stemScalar.displayUnit" ng-options="item[0] as item[0] for item in stemScalar.unitOptions" 
		ng-change="onUnitChange()"></select>
	<span style="float: right;">
		<span class="ui-icon ui-icon-arrowrefresh-1-e rotate-handle" ng-click="rotate()" ng-if="layout=='free'"></span>
		<span class="ui-icon ui-icon-arrowthick-2-n-s drag-handle" ng-if="layout=='free'"></span>
    	<button class="close" ng-click="$parent.removeField(stemScalar)">&times;</button>
	</span>
  </div>
  <div>{{stemScalar.label}}</div>
</div>
</script>

<!-- Stem Scalar Editor -->
<script type="text/ng-template" id="stem-scalar-editor.html">
<div class="modal fade" id="{{stemScalar.id}}-modal">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"
					aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title">Properties</h4>
			</div>
			<div class="modal-body">
				<form>
					<div>Name</div>
					<input type="text" ng-model="stemScalar.name" pattern="[a-zA-Z_][a-zA-Z0-9_]*" required>
					<div></div>
					<div>Label</div>
					<input type="text" ng-model="stemScalar.label">
					<div>Quantity</div>
					<select ng-model="stemScalar.quantity" ng-options="key as key for (key, value) in stemScalar.quantities"></select>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" id="{{stemField.id}}-OkButton" class="btn btn-default" data-dismiss="modal" ng-click="setDisplayUnit()">OK</button>
			</div>
		</div>
	</div>
</div>
</script>

<!-- Stem Table -->
<script type="text/ng-template" id="stem-table.html">
<div id="{{stemTable.id}}" style="background: white; margin: 6px; padding: 5px; border: solid 1px #AAA">
  <div style="margin-bottom: 3px;">
    <span class="ui-icon ui-icon-arrowthick-2-n-s drag-handle"></span>
  	<span style="color: blue; cursor: pointer;" ng-click="edit()">{{stemTable.name}}</span>
  	<button class="close" ng-click="$parent.removeField(stemTable)">&times;</button>
  </div>
  <div>{{stemTable.label}}</div>
  <div style="overflow-x: auto;">
  	<table id="{{stemTable.id}}-table"></table>
  </div>
</div>
<div stem-table-editor="stemTable"></div>
<div stem-table-column-editor></div>
</script>

<!-- Stem Table Editor -->
<script type="text/ng-template" id="stem-table-editor.html">
<div class="modal fade" id="{{stemTable.id}}-modal">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"
					aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title">Properties</h4>
			</div>
			<div class="modal-body">
				<form>
					<div>Name</div>
					<input type="text" ng-model="stemTable.name" pattern="[a-zA-Z_][a-zA-Z0-9_]*" required>
					<div></div>
					<div>Label</div>
					<input type="text" ng-model="stemTable.label">
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" id="{{stemTable.id}}-OkButton" class="btn btn-default" data-dismiss="modal">OK</button>
			</div>
		</div>
	</div>
</div>
</script>

<!-- Stem Table Column Editor -->
<script type="text/ng-template" id="stem-table-column-editor.html">
<div class="modal fade" id="{{stemTable.id}}-table-columnModal">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"
					aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title">Properties</h4>
			</div>
			<div class="modal-body">
				<form>
					<div>Colum name</div>
					<input type="text" ng-model="activeColumn.name" pattern="[a-zA-Z_][a-zA-Z0-9_]*" required>
					<div></div>
					<div>Column description</div>
					<input type="text" ng-model="activeColumn.description">
					<div>Column format</div>
					<input type="text" ng-model="activeColumn.format">
					<div>Quantity</div>
					<select ng-model="activeColumn.quantity" ng-options="key as key for (key, value) in quantities" ng-change="setDisplayUnit()"></select>
					<div>Unit</div>
					<select ng-model="activeColumn.displayUnit" ng-options="item[0] as item[0] for item in activeColumn.unitOptions"></select>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" id="{{stemTable.id}}-columnModal-OkButton" class="btn btn-default" data-dismiss="modal">OK</button>
			</div>
		</div>
	</div>
</div>
</script>

<!-- Stem Text Area -->
<script type="text/ng-template" id="stem-text-area.html">
<div id="{{stemTextArea.id}}" style="background: white; margin: 6px; padding: 5px; border: solid 1px #AAA">
  <div style="margin-bottom: 3px;">
    <span class="ui-icon ui-icon-arrowthick-2-n-s drag-handle"></span>
    <span class="ui-icon ui-icon-arrowrefresh-1-e rotate-handle" ng-click="rotate()" ng-if="layout=='free'"></span>
  	<span style="color: blue; cursor: pointer;" ng-click="edit()">{{stemTextArea.name}}</span>
  	<button class="close" ng-click="$parent.removeField(stemTextArea)">&times;</button>
  </div>
  <div>{{stemTextArea.label}}</div>
  <textarea id="{{stemTextArea.id}}-textarea" ng-model="stemTextArea.value"></textarea>
</div>
</script>

<!-- Stem Text Area Editor -->
<script type="text/ng-template" id="stem-text-area-editor.html">
<div class="modal fade" id="{{stemTextArea.id}}-modal">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"
					aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title">Properties</h4>
			</div>
			<div class="modal-body">
				<form>
					<div>Name</div>
					<input type="text" ng-model="stemTextArea.name" pattern="[a-zA-Z_][a-zA-Z0-9_]*" required>
					<div></div>
					<div>Label</div>
					<input type="text" ng-model="stemTextArea.label">
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" id="{{stemTextArea.id}}-OkButton" class="btn btn-default" data-dismiss="modal">OK</button>
			</div>
		</div>
	</div>
</div>
</script>

<!-- Stem Formulas -->
<script type="text/ng-template" id="stem-formulas.html">
<div id="{{stemFormulas.id}}" style="overflow: auto; width: 438px; height: 200px; background: white; margin: 6px; padding: 5px; border: solid 1px #AAA">
  <div style="margin-bottom: 3px;">
  	<span class="ui-icon ui-icon-arrowthick-2-n-s drag-handle"></span>
  	<span style="color: blue; cursor: pointer;" ng-click="edit()">{{stemFormulas.name}}</span>
  	<button class="close" ng-click="$parent.removeField(stemFormulas)">&times;</button>
  </div>
  <div>{{stemFormulas.label}}</div>
  <div style="height: 87%; border: solid 1px #AAA;" id="{{stemFormulas.id}}-aceEditor"></div>
</div>
<div stem-formulas-editor="stemFormulas"></div>
</script>

<!-- Stem Formulas Editor -->
<script type="text/ng-template" id="stem-formulas-editor.html">
<div class="modal fade" id="{{stemFormulas.id}}-modal">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"
					aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title">Properties</h4>
			</div>
			<div class="modal-body">
				<form>
					<div>Name</div>
					<input type="text" ng-model="stemFormulas.name" pattern="[a-zA-Z_][a-zA-Z0-9_]*" required>
					<div></div>
					<div>Label</div>
					<input type="text" ng-model="stemFormulas.label">
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" id="{{stemFormulas.id}}-OkButton" class="btn btn-default" data-dismiss="modal">OK</button>
			</div>
		</div>
	</div>
</div>
</script>

{% endraw %}