{% raw %}
<! -- Stem Modal -->
<script type="text/ng-template" id="stem-modal.html">
<div class="modal fade" id="{{stemModel._id.$oid}}-modal">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"
					aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title">Properties</h4>
			</div>
			<div class="modal-body">
				<form>
					<div>name</div>
					<input type="text" ng-model="stemModel.name" pattern="[a-zA-Z_][a-zA-Z0-9_]+" required>
					<div></div>
					<div>description</div>
					<input type="text" ng-model="stemModel.description">
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">OK</button>
			</div>
		</div>
	</div>
</div>
</script>

<! -- Stem Grid Layout -->
<script type="text/ng-template" id="stem-grid-layout.html">
  <div id="{{stemLayout.id}}" style="overflow: auto; height: 500px; background: #EEE; padding: 10px; margin: 10px; float: left;">
	<button class="close" ng-click="$parent.removeLayout(stemLayout)">&times;</button>
	<div ng-repeat="field in stemLayout.fields">
	  <div ng-switch on="field.type">
	    <div ng-switch-when="stem.ScalarField">
	      <div stem-scalar="field"></div>
	      <div stem-field-editor="field"></div>
	    </div>
	    <div ng-switch-when="stem.TableField">
	      <div stem-table="field"></div>
	      <div stem-field-editor="field"></div>
	    </div>
	    <div ng-switch-when="stem.TextField">
	      <div stem-text-area="field"></div>
	      <div stem-field-editor="field"></div>
	    </div>
	    <div ng-switch-default>
	      Unimplemented type {{field.type}}
	    </div>
	  </div>
	</div>
  </div>
</script>

<! -- Stem Formulas Layout -->
<script type="text/ng-template" id="stem-formulas-layout.html">
  <div id="{{stemLayout.id}}" style="overflow: auto; width: 500px; height: 500px; background: #EEE; padding: 10px; margin: 10px; float: left;">
    <button class="close" ng-click="$parent.removeLayout(stemLayout)">&times;</button>
    <div style="width: 98%; height: 90%; border: solid 1px #AAA;" id="{{stemLayout.id}}-aceEditor"></div>
  </div>
</script>

<! -- Stem Board -->
<script type="text/ng-template" id="stem-board.html">
<div ng-repeat="layout in stemBoard.layouts">
	<div ng-switch on="layout.type">
		<div ng-switch-when="grid">
			<div stem-grid-layout="layout"></div>
		</div>
		<div ng-switch-when="formulas">
			<div stem-formulas-layout="layout"></div>
		</div>
	</div>
</div>
</script>

<! -- Stem Field Editor -->
<script type="text/ng-template" id="stem-field-editor.html">
<div class="modal fade" id="{{stemField.id}}-modal">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"
					aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title">Properties</h4>
			</div>
			<div class="modal-body">
				<form>
					<div>Name</div>
					<input type="text" ng-model="stemField.name" pattern="[a-zA-Z_][a-zA-Z0-9_]+" required>
					<div>Label</div>
					<input type="text" ng-model="stemField.label">
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">OK</button>
			</div>
		</div>
	</div>
</div>
</script>

<! -- Stem Scalar -->
<script type="text/ng-template" id="stem-scalar.html">
<div id="{{stemScalar.id}}" style="width: 300px; margin: 6px; padding: 5px; border: solid 1px #AAA; background: white;">
  <div>
    <div style="display: inline-block; width: 100px;" ng-click="stemScalar.edit()">
    	<span style="color: blue; cursor: pointer;">{{stemScalar.name}}</span>
    </div>
    <input style="display: inline-block; width: 100px;" type="text" ng-model="stemScalar.value">
    <button class="close" ng-click="$parent.removeField(stemScalar)">&times;</button>
  </div>
  <div>{{stemScalar.label}}</div>
</div>
</script>

<! -- Stem Table -->
<script type="text/ng-template" id="stem-table.html">
<div id="{{stemTable.id}}" style="background: white; margin: 6px; padding: 5px; border: solid 1px #AAA">
  <div ng-click="stemTable.edit()">
  	<span style="color: blue; cursor: pointer;">{{stemTable.name}}</span>
  	<button class="close" ng-click="$parent.removeField(stemTable)">&times;</button>
  </div>
  <div>{{stemTable.label}}</div>
  <div style="overflow-x: auto;">
  	<table id="{{stemTable.id}}-table"></table>
  </div>
</div>
</script>

<! -- Stem Text Area -->
<script type="text/ng-template" id="stem-text-area.html">
<div id="{{stemTextArea.id}}" style="background: white; margin: 6px; padding: 5px; border: solid 1px #AAA">
  <div ng-click="stemTextArea.edit()">
  	<span style="color: blue; cursor: pointer;">{{stemTextArea.name}}</span>
  	<button class="close" ng-click="$parent.removeField(stemTextArea)">&times;</button>
  </div>
  <div>{{stemTextArea.label}}</div>
  <textarea id="{{stemTextArea.id}}-textarea" ng-model="stemTextArea.value"></textarea>
</div>
</script>
{% endraw %}
