<!-- Stem List Item Actions -->
<script type="text/ng-template" id="stem-list-item-actions.html">
<div style="display: inline;">
	&nbsp;
	<div style="display: inline;" ng-if="add">
		<span class="glyphicon glyphicon-plus" ng-click="add()" tooltip="Add"></span>
	</div>
	<div style="display: inline;" ng-if="edit">
		<span class="glyphicon glyphicon glyphicon-edit" ng-click="edit()" tooltip="Edit"></span>
	</div>
	<div style="display: inline;" ng-if="paste">
		<span class="glyphicon glyphicon glyphicon-paste" ng-click="paste()" tooltip="Paste"></span>
	</div>
	<div style="display: inline;" ng-if="duplicate">
		<span class="glyphicon glyphicon glyphicon-duplicate" ng-click="duplicate()" tooltip="Copy"></span>
	</div>
	<div style="display: inline;" ng-if="moveUp">
		<span class="glyphicon glyphicon glyphicon-arrow-up" ng-click="moveUp()" tooltip="Move up"></span>
	</div>
	<div style="display: inline;" ng-if="moveDown">
		<span class="glyphicon glyphicon glyphicon-arrow-down" ng-click="moveDown()"  tooltip="Move down"></span>
	</div>
	<div style="display: inline;" ng-if="resize">
		<span class="glyphicon glyphicon-resize-full" ng-click="resize()" tooltip="Resize"></span>
	</div>
	<div style="display: inline;" ng-if="del">
		<span class="glyphicon glyphicon-remove" ng-click="deleteItem()" tooltip="Delete"></span>
	</div>
	&nbsp;
</div>
</script>

<!-- Stem Input Numerical -->
<script type="text/ng-template" id="stem-input-numerical.html">
<span>
	<input ng-model="displayValue" ng-change="onInputChange()" ng-blur="updateDisplay()">
</span>
</script>
