<!-- Stem List Item Actions -->
<script type="text/ng-template" id="stem-list-item-actions.html">
<div style="display: inline;">
	&nbsp;
	<div style="display: inline;" ng-if="add">
		<span class="glyphicon glyphicon-plus" ng-click="add()"></span>
	</div>
	<div style="display: inline;" ng-if="edit">
		<span class="glyphicon glyphicon glyphicon-edit" ng-click="edit()"></span>
	</div>
	<div style="display: inline;" ng-if="duplicate">
		<span class="glyphicon glyphicon glyphicon-duplicate" ng-click="duplicate()"></span>
	</div>
	<div style="display: inline;" ng-if="moveUp">
		<span class="glyphicon glyphicon glyphicon-arrow-up" ng-click="moveUp()"></span>
	</div>
	<div style="display: inline;" ng-if="moveDown">
		<span class="glyphicon glyphicon glyphicon-arrow-down" ng-click="moveDown()"></span>
	</div>
	<div style="display: inline;" ng-if="del">
		<span class="glyphicon glyphicon-remove" ng-click="deleteItem()"></span>
	</div>
	&nbsp;
</div>
</script>

<!-- Stem Input Numerical -->
<script type="text/ng-template" id="stem-input-numerical.html">
<span>
	<input ng-model="displayValue" ng-change="onInputChange()" ng-blur="updateDisplay()">
</span>
</script>
