{% raw %}
<!-- Stem Model User Access -->
<script type="text/ng-template" id="stem-modal-user-access.html">
  <div class="modal-header">
    <h1 class="modal-title under-construction">UNDER CONSTRUCTION!</h1>
	<h3 class="modal-title">Share with others</h3>
  </div>
  <div class="modal-body">
    <div>Model: {{model.name}}</div>
    <div>Link to share: <a href="{{linkToShare}}">{{linkToShare}}</a></div>
    <ul>
      <li ng-repeat="item in items">
        <a href="#" ng-click="$event.preventDefault(); selected.item = item">{{ item }}</a>
      </li>
    </ul>
    Selected: <b>{{ selected.item }}</b>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()">OK</button>
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
  </div>
</script>
    
<!-- Stem Modal -->
<script type="text/ng-template" id="stem-modal.html">
<div class="modal fade" id="{{stemModel._id}}-modal" data-backdrop="static" data-keyboard="false">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"
					aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title">Properties</h4>
			</div>
			<div class="modal-body">
				<form>
					<div>name</div>
					<input type="text" ng-model="stemModel.name" required>
					<div></div>
					<div>description</div>
					<input type="text" ng-model="stemModel.description">
					<div>background image</div>
					<input type="text" ng-model="stemModel.background">
				</form>
			</div>
			<div class="modal-footer">
				<button id="{{stemModel._id}}-OkButton" type="button" class="btn btn-default" data-dismiss="modal" ng-click="setImage()">OK</button>
			</div>
		</div>
	</div>
</div>
</script>

<!-- Stem Board -->
<script type="text/ng-template" id="stem-board.html">
<div ng-repeat="layout in stemBoard.layouts">
	<div ng-switch on="layout.type">
		<div ng-switch-when="grid">
			<div stem-grid-layout="layout"></div>
			<div stem-layout-properties="layout"></div>
		</div>
		<div ng-switch-when="free">
			<div stem-free-layout="layout"></div>
			<div stem-layout-properties="layout"></div>
		</div>
	</div>
</div>
</script>

<!-- Stem Grid Layout -->
<script type="text/ng-template" id="stem-grid-layout.html">
  <div id="{{stemLayout.id}}" class ="GridLayout" ng-style="dynamicStyle">
  	<span style="color: blue; cursor: pointer;" ng-click="edit()">{{stemLayout.title}}</span>
  	<span id="{{stemLayout.id}}-list-item-actions" stem-list-item-actions style="float: right;" del="$parent.removeLayout(stemLayout)" 
  		paste="paste()"
  		duplicate="$parent.duplicateLayout(stemLayout)"
  		move-down="$parent.moveDown(stemLayout)"
  		move-up="$parent.moveUp(stemLayout)"
  		resize="resize()"></span>
	<!-- <button class="close" ng-click="$parent.removeLayout(stemLayout)">&times;</button> -->
	<div class="sortables_div" style="height: 90%;">
		<div ng-repeat="field in stemLayout.fields">
		  <div ng-switch on="field.type">
		    <div ng-switch-when="stem.ScalarField">
		      <div stem-scalar="field" layout="stemLayout.type" layout-id="stemLayout.id"></div>
		    </div>
		    <div ng-switch-when="stem.BoolField">
		      <div stem-bool="field" layout="stemLayout.type" layout-id="stemLayout.id"></div>
		    </div>
		    <div ng-switch-when="stem.ChoiceField">
		      <div stem-choice="field" layout="stemLayout.type" layout-id="stemLayout.id"></div>
		    </div>
		    <div ng-switch-when="stem.TableField">
		      <div stem-table="field"></div>
		    </div>
		    <div ng-switch-when="stem.TextField">
		      <div stem-text-area="field" layout="stemLayout.type" layout-id="stemLayout.id"></div>
		    </div>
		    <div ng-switch-when="stem.FormulasField">
		      <div stem-formulas="field"></div>
		    </div>
		    <div ng-switch-default>
		      Unimplemented type {{field.type}}
		    </div>
		  </div>
		</div>
	</div>
  </div>
</script>

<!-- Stem Free Layout -->
<script type="text/ng-template" id="stem-free-layout.html">
  <div id="{{stemLayout.id}}" class="FreeLayout">
	<span style="color: blue; cursor: pointer;" ng-click="edit()">{{stemLayout.title}}</span>
	<span stem-list-item-actions style="float: right;" del="$parent.removeLayout(stemLayout)" 
		duplicate="$parent.duplicateLayout(stemLayout)"
		move-down="$parent.moveDown(stemLayout)"
  		move-up="$parent.moveUp(stemLayout)"></span>
	<div id="{{stemLayout.id}}-draggables_div" style="height: 90%;">
		<div ng-repeat="field in stemLayout.fields">
		  <div ng-switch on="field.type">
		    <div ng-switch-when="stem.ScalarField">
		      <div stem-scalar="field" layout="stemLayout.type" layout-id="stemLayout.id"></div>
		    </div>
		    <div ng-switch-when="stem.TextField">
		      <div stem-text-area="field" layout="stemLayout.type" layout-id="stemLayout.id"></div>
		    </div>
		    <div ng-switch-default>
		      Unimplemented type {{field.type}}
		    </div>
		  </div>
		</div>
	</div>
  </div>
</script>

<!-- Stem Layout Properties -->
<script type="text/ng-template" id="stem-layout-properties.html">
<div class="modal fade" id="{{stemLayout.id}}-modal">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"
					aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title">Properties</h4>
			</div>
			<div class="modal-body">
				<form>
					<div>Title</div>
					<input type="text" ng-model="stemLayout.title">
					<div></div>
					<div>Image</div>
					<input type="text" ng-model="stemLayout.image">
					<div>Isolate variables</div>
					<input type="checkbox" ng-model="stemLayout.hasScope">
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" id="{{stemLayout.id}}-OkButton" class="btn btn-default" data-dismiss="modal" ng-click="setImage()">OK</button>
			</div>
		</div>
	</div>
</div>
</script>

<!-- Stem Scalar -->
<script type="text/ng-template" id="stem-scalar.html">
<div id="{{stemScalar.id}}" style="margin: 3px; padding: 3px; border: solid 1px #AAA; background: white;">
  <div>
    <div style="display: inline-block; width: 200px;">
    	<span class="ui-icon ui-icon-arrowthick-2-n-s drag-handle"></span>
    	<span class="ui-icon ui-icon-arrowrefresh-1-e rotate-handle" ng-click="rotate()" ng-if="layout=='free'"></span>
    	<span style="color: blue; cursor: pointer;" ng-click="edit()" ng-bind="displayName(stemScalar.name)"></span>
    </div>
    <input style="display: inline-block; height: 30px; width: 100px; margin-right: 5px;" type="text" 
    	ng-model= "displayValue" ng-change="onInputValueChange()" ng-blur="onUnitChange()">
    <select style="height: 30px;" ng-model="stemScalar.displayUnit" ng-options="item[0] as item[0] for item in unitOptions" 
		ng-change="onUnitChange()"></select>
	<span style="float: right;">
		<span class="ui-icon ui-icon-arrowrefresh-1-e rotate-handle" ng-click="rotate()" ng-if="layout=='free'"></span>
		<span class="ui-icon ui-icon-arrowthick-2-n-s drag-handle" ng-if="layout=='free'"></span>
		<span id="{{stemScalar.id}}-list-item-actions" stem-list-item-actions duplicate="copy()"></span>
    	<button class="close" ng-click="$parent.removeField(stemScalar)">&times;</button>
	</span>
  </div>
  <div>{{stemScalar.label}}</div>
  <div stem-scalar-properties></div>
</div>
</script>

<!-- Stem Scalar Properties pattern="[a-zA-Z_][a-zA-Z0-9_]*" -->
<script type="text/ng-template" id="stem-scalar-properties.html">
<div class="modal fade" id="{{stemScalar.id}}-modal" data-backdrop="static" data-keyboard="false">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"
					aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title">Properties</h4>
			</div>
			<div class="modal-body">
				<form>
					<div>Name</div>
					<input type="text" ng-model="stemScalar.name" required>
					<div></div>
					<div>Label</div>
					<input type="text" ng-model="stemScalar.label">
					<div>Quantity</div>
					<select ng-model="stemScalar.quantity" ng-options="key as key for (key, value) in quantities" ng-change="onQuantityChange()"></select>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" id="{{stemScalar.id}}-OkButton" class="btn btn-default" data-dismiss="modal" ng-click="applyChanges()">OK</button>
			</div>
		</div>
	</div>
</div>
</script>

<!-- Stem Bool -->
<script type="text/ng-template" id="stem-bool.html">
<div id="{{stemBool.id}}" style="margin: 3px; padding: 3px; border: solid 1px #AAA; background: white;">
  <div>
    <div style="display: inline-block; width: 200px;">
    	<span class="ui-icon ui-icon-arrowthick-2-n-s drag-handle"></span>
    	<span style="color: blue; cursor: pointer;" ng-click="edit()">{{stemBool.name}}</span>
    </div>
    <input style="display: inline-block; margin-right: 5px;" type="checkbox" 
    	ng-model= "stemBool.value">
	<span style="float: right;">
		<span id="{{stemBool.id}}-list-item-actions" stem-list-item-actions duplicate="copy()"></span>
    	<button class="close" ng-click="$parent.removeField(stemBool)">&times;</button>
	</span>
  </div>
  <div>{{stemBool.label}}</div>
  <div stem-bool-properties></div>
</div>
</script>

<!-- Stem Bool Properties -->
<script type="text/ng-template" id="stem-bool-properties.html">
<div class="modal fade" id="{{stemBool.id}}-modal" data-backdrop="static" data-keyboard="false">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"
					aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title">Properties</h4>
			</div>
			<div class="modal-body">
				<form>
					<div>Name</div>
					<input type="text" ng-model="stemBool.name" pattern="[a-zA-Z_][a-zA-Z0-9_]*" required>
					<div></div>
					<div>Label</div>
					<input type="text" ng-model="stemBool.label">
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" id="{{stemBool.id}}-OkButton" class="btn btn-default" data-dismiss="modal">OK</button>
			</div>
		</div>
	</div>
</div>
</script>

<!-- Stem Choice -->
<script type="text/ng-template" id="stem-choice.html">
<div id="{{stemChoice.id}}" style="margin: 3px; padding: 3px; border: solid 1px #AAA; background: white;">
  <div>
    <div style="display: inline-block; width: 200px;">
    	<span class="ui-icon ui-icon-arrowthick-2-n-s drag-handle"></span>
    	<span style="color: blue; cursor: pointer;" ng-click="edit()">{{stemChoice.name}}</span>
    </div>
    <select style="height: 30px;" ng-model="stemChoice.value" ng-options="item as item for item in stemChoice.choices">
    </select>
	<span style="float: right;">
		<span id="{{stemChoice.id}}-list-item-actions" stem-list-item-actions duplicate="copy()"></span>
    	<button class="close" ng-click="$parent.removeField(stemChoice)">&times;</button>
	</span>
  </div>
  <div>{{stemChoice.label}}</div>
  <div stem-choice-properties></div>
</div>
</script>

<!-- Stem Choice Properties -->
<script type="text/ng-template" id="stem-choice-properties.html">
<div class="modal fade" id="{{stemChoice.id}}-modal" data-backdrop="static" data-keyboard="false">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"
					aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title">Properties</h4>
			</div>
			<div class="modal-body">
				<form>
					<div>Name</div>
					<input type="text" ng-model="stemChoice.name" pattern="[a-zA-Z_][a-zA-Z0-9_]*" required>
					<div></div>
					<div>Label</div>
					<input type="text" ng-model="stemChoice.label">
					<div>Choices</div>
					<table>
					    <tr ng-repeat="choice in stemChoice.choices track by $index">
					      <td><span stem-list-item-actions add="addChoice($index + 1)"></span></td>
					      <td><span stem-list-item-actions del="deleteChoice($index)"></span></td>
					      <td><input type="text" ng-model="stemChoice.choices[$index]"></td>
					    </tr>
				  	</table> 
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" id="{{stemChoice.id}}-OkButton" class="btn btn-default" data-dismiss="modal">OK</button>
			</div>
		</div>
	</div>
</div>
</script>

<!-- Stem Table -->
<script type="text/ng-template" id="stem-table.html">
<div id="{{stemTable.id}}" style="background: white; margin: 3px; padding: 3px; border: solid 1px #AAA">
  <div style="margin-bottom: 3px;">
    <span class="ui-icon ui-icon-arrowthick-2-n-s drag-handle"></span>
  	<span style="color: blue; cursor: pointer;" ng-click="edit()">{{stemTable.name}}</span>
  	<span style="float: right;">
  		<span id="{{stemTable.id}}-list-item-actions" stem-list-item-actions duplicate="copy()"></span>
  		<button class="close" ng-click="$parent.removeField(stemTable)">&times;</button>
  	</span>
  </div>
  <div>{{stemTable.label}}</div>
  <div id="{{stemTable.id}}-table"></div>
</div>
<div stem-table-column-properties></div>
<div stem-table-properties></div>
</script>

<!-- Stem Table Properties -->
<script type="text/ng-template" id="stem-table-properties.html">
<div class="modal fade" id="{{stemTable.id}}-modal" data-backdrop="static" data-keyboard="false">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"
					aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title">Properties</h4>
			</div>
			<div class="modal-body">
				<form>
					<div>Name</div>
					<input type="text" ng-model="stemTable.name" pattern="[a-zA-Z_][a-zA-Z0-9_]*" required>
					<div></div>
					<div>Label</div>
					<input type="text" ng-model="stemTable.label">
					<div>Number of rows</div>
					<input type="number" ng-model="numRows" ng-change="onSizeChange()">
					<div>Number of columns</div>
					<input type="number" ng-model="numCols" ng-change="onSizeChange()">
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" id="{{stemTable.id}}-OkButton" class="btn btn-default" data-dismiss="modal" ng-click="applyResize()">OK</button>
			</div>
		</div>
	</div>
</div>
</script>

<!-- Stem Table Column Properties -->
<script type="text/ng-template" id="stem-table-column-properties.html">
<div class="modal fade" id="{{stemTable.id}}-table-columnModal">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"
					aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title">Properties</h4>
			</div>
			<div class="modal-body">
				<form>
					<div>Column name</div>
					<input type="text" ng-model="activeColumn.name" pattern="[a-zA-Z_][a-zA-Z0-9_]*" required ng-change="onPropChange()">
					<div></div>
					<div>Column description</div>
					<input type="text" ng-model="activeColumn.description">
					<div>Column format</div>
					<input type="text" ng-model="activeColumn.format" ng-change="onPropChange()">
					<div>Quantity</div>
					<select ng-model="activeColumn.quantity" ng-options="key as key for (key, value) in quantities" ng-change="onQuantityChange()"></select>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" id="{{stemTable.id}}-columnModal-OkButton" class="btn btn-default" data-dismiss="modal" ng-click="applyChanges()">OK</button>
			</div>
		</div>
	</div>
</div>
</script>

<!-- Stem Text Area -->
<script type="text/ng-template" id="stem-text-area.html">
<div id="{{stemTextArea.id}}" style="background: white; margin: 3px; padding: 3px; border: solid 1px #AAA">
  <div style="margin-bottom: 3px;">
    <span class="ui-icon ui-icon-arrowthick-2-n-s drag-handle"></span>
    <span class="ui-icon ui-icon-arrowrefresh-1-e rotate-handle" ng-click="rotate()" ng-if="layout=='free'"></span>
  	<span style="color: blue; cursor: pointer;" ng-click="edit()">{{stemTextArea.name}}</span>
  	<span style="float: right;">
	  	<span id="{{stemTextArea.id}}-list-item-actions" stem-list-item-actions duplicate="copy()"></span>
	  	<button class="close" ng-click="$parent.removeField(stemTextArea)">&times;</button>
	</span>
  </div>
  <div>{{stemTextArea.label}}</div>
  <textarea id="{{stemTextArea.id}}-textarea" ng-model="stemTextArea.value"></textarea>
  <div stem-text-area-properties></div>
</div>
</script>

<!-- Stem Text Area Properties -->
<script type="text/ng-template" id="stem-text-area-properties.html">
<div class="modal fade" id="{{stemTextArea.id}}-modal" data-backdrop="static" data-keyboard="false">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"
					aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title">Properties</h4>
			</div>
			<div class="modal-body">
				<form>
					<div>Name</div>
					<input type="text" ng-model="stemTextArea.name" pattern="[a-zA-Z_][a-zA-Z0-9_]*" required>
					<div></div>
					<div>Label</div>
					<input type="text" ng-model="stemTextArea.label">
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" id="{{stemTextArea.id}}-OkButton" class="btn btn-default" data-dismiss="modal">OK</button>
			</div>
		</div>
	</div>
</div>
</script>

<!-- Stem Formulas -->
<script type="text/ng-template" id="stem-formulas.html">
<div id="{{stemFormulas.id}}" style="overflow: auto; height: 200px; background: white; margin: 3px; padding: 3px; border: solid 1px #AAA">
  <div style="margin-bottom: 3px;">
  	<span class="ui-icon ui-icon-arrowthick-2-n-s drag-handle"></span>
  	<span style="color: blue; cursor: pointer;" ng-click="edit()">{{stemFormulas.name}}</span>
  	<span style="float: right;">
  		<span id="{{stemFormulas.id}}-list-item-actions" stem-list-item-actions duplicate="copy()"></span>
  		<button class="close" ng-click="$parent.removeField(stemFormulas)">&times;</button>
  	</span>
  </div>
  <div>{{stemFormulas.label}}</div>
  <div style="height: 87%; border: solid 1px #AAA;" id="{{stemFormulas.id}}-aceEditor"></div>
  <div stem-formulas-properties></div>
</div>
</script>

<!-- Stem Formulas Properties -->
<script type="text/ng-template" id="stem-formulas-properties.html">
<div class="modal fade" id="{{stemFormulas.id}}-modal" data-backdrop="static" data-keyboard="false">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"
					aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title">Properties</h4>
			</div>
			<div class="modal-body">
				<form>
					<div>Name</div>
					<input type="text" ng-model="stemFormulas.name" pattern="[a-zA-Z_][a-zA-Z0-9_]*" required>
					<div></div>
					<div>Label</div>
					<input type="text" ng-model="stemFormulas.label">
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" id="{{stemFormulas.id}}-OkButton" class="btn btn-default" data-dismiss="modal">OK</button>
			</div>
		</div>
	</div>
</div>
</script>

<!-- Function Popover Template -->
<script type="text/ng-template" id="function-popover-template.html">
<div style="width: 200px;">
  <div style="border-bottom: 1px solid #DDD; margin-bottom: 5px;">{{func.description}}</div>
  <div ng-repeat="argument in func.arguments">
    <div><span style="color: blue;">{{argument.name}}</span>:&nbsp<span>{{argument.description}}</span></div>
  </div>
</div>
</script>
{% endraw %}
