{% extends "StemBase.html" %}

{% block PageSettings %}
moduleID: '{{moduleID}}',    
{% endblock %}

{% block BodyContent %}
{% raw %}
<div style="margin: 10px;" ng-controller="LibraryModuleEditorCtrl">
  <h1>Library module editor</h1>
  <h2>Module properties</h2>
  <form style="width: 500px;" role="form">
    <div class="form-group">
      <label for="name">Name:</label>
      <input class="form-control" type="text" id="name" ng-model="module.name">
    </div>
    <div class="form-group">
      <label for="description">Description:</label>
      <textarea style="height: 200px;" class="form-control" id="description" ng-model="module.description"></textarea>
    </div>
    <div class="form-group">
      <label for="import-path">Import path:</label>
      <input class="form-control" type="text" id="import-path" ng-model="module.importPath">
    </div>
    <div class="form-group">
      <label for="import-name">Import name:</label>
      <input class="form-control" type="text" id="import-name" ng-model="module.importName">
    </div>
  </form>
  <h2>Module functions</h2>
  <div ng-repeat="function in module.functions track by $index">
      <h2><a  class="clickable-title" ng-click="editFunction($index)">{{function.name}}</a></h2>
      <span stem-list-item-actions del="deleteFunction($index)" edit="editFunction($index)"></span>
      <div>{{function.description}}</div>
      <div>
        <div class="modal fade" id="function-{{$index}}-modal">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"
                  aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Function {{function.name}}</h4>
              </div>
              <div class="modal-body">
                <form>
                  <div class="form-group">
                    <label for="fn-name">Name:</label>
                    <input class="form-control" type="text" id="fn-name" ng-model="function.name">
                  </div>
                  <div class="form-group">
                    <label for="fn-description">Description:</label>
                    <textarea style="height: 200px;" class="form-control" id="fn-description" ng-model="function.description"></textarea>
                  </div>
                </form>
                <label>Function arguments</label>
                <span stem-list-item-actions add="addFunctionArgument(function, 0)"></span>
                <table>
                  <tr>
                    <th></th>
                    <th style="width: 100px;">Name</th>
                    <th style="width: 300px;">Description</th>
                  </tr>
                  <tr ng-repeat="argument in function.arguments track by $index">
                    <td><span stem-list-item-actions add="addFunctionArgument(function, $index + 1)" del="deleteFunctionArgument(function, $index)"></span></td>
                    <td><input type="text" ng-model="argument.name" style="width: 100px;"></td>
                    <td><input type="text" ng-model="argument.description" style="width: 300px;"></td>
                  </tr>
                </table> 
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">OK</button>
              </div>              
            </div>
          </div>
        </div>
      </div>
      <br>
  </div>
</div>

{% endraw %}
{% endblock %}