{% extends "StemBase.html" %}
{% block BodyContent %}
{% raw %}
<div ng-controller="ModelsCtrl">
  <h1>Models</h1>
  
  <tabset>
    <tab ng-repeat="listedModelsTab in listedModelsTabs" heading="{{listedModelsTab.title}}" active="listedModelsTab.active">
      <div ng-repeat="model in listedModelsTab.models">
        <h2><a class="clickable-title" ng-click="edit(model)">{{model.name}}</a></h2>
        <span stem-list-item-actions del="del(model)" edit="edit(model)" duplicate="duplicate(model)"></span>
        <div>{{model.description}}</div>
        <div>Author: {{model.owner}}; Created: {{model.created}}</div>
        <br>
      </div>
    </tab>  
  </tabset>
  
</div>
{% endraw %}
{% endblock %}