{% extends "StemBase.html" %}

{% block PageSettings %}
modelID: '{{modelID}}',    
{% endblock %}

{% block BodyContent %}
{% raw %}
<div ng-controller="ModelEditorCtrl">
  <div >
	  <h1>{{model.name}}</h1>
	  <div>{{model.description}}</div>
	  <div class="btn-group" role="group" aria-label="Model buttons">
	    <button class="btn btn-primary" ng-click="save()">Save</button>
	    <button class="btn btn-primary" ng-click="compute()">Compute</button>
	    <button class="btn btn-primary" data-toggle="modal" data-target="#{{model._id.$oid}}-modal">Properties</button>
	  </div>
  </div>
  <div stem-modal model="model"></div>
  <div>
  	<div style="position: fixed;" id="ToolBars">
      <div id="LayoutsToolbar">
	  	<span style="color: blue;">Layouts</span>
	  	<ul style="list-style-type: none; padding: 0px;">
	      <li id="columns_Layout">Columns</li>
	      <li id="canvas_Layout">Canvas</li>
	    </ul>
	  </div>
	  <div id="ModelComponentsToolbar">
	  	<span style="color: blue;">Components</span>
	    <ul style="list-style-type: none; padding: 0px;">
	      <li id="components_Variable"><img src='/static/img/Variable.png'>&nbsp; Variable</li>
	      <li id="components_Table"><img src='/static/img/Table.png'>&nbsp; Table</li>
	    </ul>
	  </div>
	</div>
	<div id="main" style="float: left; margin-left: 150px; margin-top: 10px;">
	  <div stem-layout layouts-selector ="#LayoutsToolbar > ul > li"></div>
	</div>
  </div>
  <div class="ModelInterface">
  </div>
</div>
{% endraw %}
{% endblock %}