{% extends "StemBase.html" %}

{% block Scripts %}
<script src="/static/js/directives/ModelDirectives.js"></script>	    
{% endblock %}

{% block PageSettings %}
modelID: '{{modelID}}',    
{% endblock %}

{% block BodyContent %}
{% include 'angular/ModelDirectiveTemplates.html' %}
{% raw %}
<div ng-controller="ModelEditorCtrl">
  <div stem-modal model="model"></div>
  <div>
  	<div style="position: fixed; top: 70; z-index: 1020;" id="ToolBars">
  	<accordion close-others="true">
  	<!-- is-open="true": not valid must be assignlable both ways -->
  	  <accordion-group style="color: blue;" heading="Layouts" is-open="true">
        <div id="LayoutsToolbar">
	  	  <ul style="list-style-type: none; padding: 0px;">
	        <li id="grid_Wide">Grid(wide)</li>
	        <li id="grid_Narrow">Grid(narrow)</li>
	        <li id="free">Free</li>
	      </ul>
	    </div>
	  </accordion-group>
	  <accordion-group style="color: blue;" heading="Components">
	    <div id="ModelComponentsToolbar">
	      <ul style="list-style-type: none; padding: 0px;">
	        <li id="fields_Scalar"><img src='/static/img/Variable.png'>&nbsp; Variable</li>
            <li id="fields_Formulas"><img src='/static/img/Formulas.png'>&nbsp; Formulas</li>
	        <li id="fields_Table"><img src='/static/img/Table.png'>&nbsp; Table</li>
	        <li id="fields_TextArea"><img src='/static/img/Text.png'>&nbsp; Text</li>
	      </ul>
	    </div>
	  </accordion-group>
	  <accordion-group style="color: blue;" heading="Library Modules">
        <div id="LibraryModulesToolbar">
          <div ng-if="libraryModulesLoaded">
        	<accordion close-others="true">
			  <accordion-group heading="{{name}}" ng-repeat="(name, lib) in libraryModulesAccordionObj">
			    <ul>
			      <li stem-draggable="{{func|getLibNamespace:lib}}" style="cursor: pointer;" ng-repeat="func in lib.functions" 
			      		ng-bind="func.signature" popover-title="{{func|getLibNamespace:lib}}" popover-template="'function-popover-template.html'" 
			      		popover-trigger="click" popover-placement="right"></li>
			    </ul>
			  </accordion-group>
			</accordion>
          </div>
         </div>
      </accordion-group>
    </accordion>
	</div>
	<toast></toast>
	<div id="main" style="position: absolute; left: 150; top: 70;">
		<div ng-if="model.board && quantitiesLoaded">
            <h1 style="margin-left: 10px;">
            	<span style="color: blue; cursor: pointer;" ng-bind="model.name" ng-click="editProps()"></span>
            </h1>
            <div style="margin-left: 10px;" ng-bind="model.description"></div>
	  		<div stem-board="model.board" container-selector="#main" 
	  			layouts-selector="#LayoutsToolbar > ul > li"
	  			components-selector="#ModelComponentsToolbar > ul > li"></div>
	  	</div>
		<div ng-if="!model.board">
	  		<div>Loading model</div>
	  	</div>
	</div>
  </div>
  <div class="ModelInterface">
  </div>
</div>
{% endraw %}
{% endblock %}
