{% extends "StemBase.html" %}

{% block PageSettings %}
modelID: '{{modelID}}',    
{% endblock %}

{% block BodyContent %}
{% raw %}
<div ng-controller="ModelEditorCtrl">
  <div style="position: fixed; width: 100%; height: 60px; z-index:900; background: #EEC; padding-left: 20px; padding-right: 20px;" >
	  <div style="position: relative; bottom: 15; float: left;">
		  <h1 style="display: inline-block;" ng-bind="model.name"></h1>
		  <div style="display: inline-block; margin-left: 5px;" ng-bind="model.description"></div>
	  </div>
	  <div style="position: relative; top: 12; float: right;" class="btn-group" role="group" aria-label="Model buttons">
	    <button class="btn btn-primary" ng-click="save()" id="{{model._id}}-saveButton">
	    	Save</button>
	    <button class="btn btn-primary" ng-click="compute()">Compute</button>
	    <button class="btn btn-primary" data-toggle="modal" data-target="#{{model._id.$oid}}-modal">Properties</button>
	  </div> 
  </div>
  <div stem-modal model="model"></div>
  <div>
  	<div style="position: fixed; top: 70;" id="ToolBars">
      <div id="LayoutsToolbar">
	  	<span style="color: blue;">Layouts</span>
	  	<ul style="list-style-type: none; padding: 0px;">
	      <li id="grid_Wide">Grid(wide)</li>
	      <li id="grid_Narrow">Grid(narrow)</li>
	    </ul>
	  </div>
	  <div id="ModelComponentsToolbar">
	  	<span style="color: blue;">Components</span>
	    <ul style="list-style-type: none; padding: 0px;">
	      <li id="fields_Scalar"><img src='/static/img/Variable.png'>&nbsp; Variable</li>
	      <li id="fields_Table"><img src='/static/img/Table.png'>&nbsp; Table</li>
	      <li id="fields_TextArea"><img src='/static/img/Text.png'>&nbsp; Text</li>
	      <li id="fields_Formulas">&nbsp; Formulas</li>
	    </ul>
	  </div>
	</div>
	<div id="main" style="position: absolute; left: 150; top: 70;">
		<div ng-if="model.board && quantities.$resolved">
	  		<div stem-board="model.board"></div>
	  	</div>
		<div ng-if="!model.board">
	  		<div>Loading model</div>
	  	</div>
	</div>
  </div>
  <div class="ModelInterface">
  </div>
  <div class="modal fade" id="errorModal">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header" style="color: #A94442;">
				<button type="button" class="close" data-dismiss="modal"
					aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title">Server error</h4>
			</div>
			<div class="modal-body" style="color: #A94442;">
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">OK</button>
			</div>
		</div>
	</div>
  </div>
</div>
{% endraw %}
{% endblock %}