{% extends "StemBase.html" %}
{% block BodyContent %}
{% raw %}
<div style="margin: 10px;" ng-controller="QuantitiesCtrl">
	<h1>Quantities</h1>
	<button type="button" class="btn btn-primary" ng-click="Quantities.create()">New</button>
    <p>
	<div ng-repeat="quantity in Quantities.collection">
		<a ng-click="Quantities.del(quantity)"><span class="ui-icon ui-icon-circle-plus"></span>&times;</a>&nbsp;&nbsp;<a ng-click="Quantities.edit(quantity)">{{quantity.name}}</a> 
		<div><span class="ui-icon ui-icon-circle-close" ng-click="Quantities.del(quantity)"></span>{{quantity.name}}</div>
	</div>
</div>
{% endraw %}
{% endblock %}