{% extends "StemBase.html" %}

{% block PageSettings %}
quantityID: '{{quantityID}}',    
{% endblock %}

{% block BodyContent %}
{% raw %}
<div ng-controller="QuantityEditorCtrl">
  <h1>Quantity editor</h1>
  <form style="width: 500px;" role="form">
    <div class="form-group">
      <label for="name">Name:</label>
      <input class="form-control" type="text" id="name" ng-model="quantity.name">
    </div>
    <div class="form-group">
      <label for="label">Label:</label>
      <input class="form-control" type="text" id="label" ng-model="quantity.label">
    </div>
    <div class="form-group">
      <label for="SIUnit">SI Unit:</label>
      <select class="form-control" id="SIUnit" ng-model="quantity.SIUnit" ng-options="unit[0] as unit[0] for unit in quantity.units"></select>
    </div>
  </form>
  <h2>Units:</h2>
  <span stem-list-item-actions add="addUnit(0)"></span>
  <table>
    <tr>
      <th></th>
      <th>Name</th>
      <th>Mutiplier</th>
      <th>Offset</th>
    </tr>
    <tr ng-repeat="unit in quantity.units track by $index">
      <td><span stem-list-item-actions add="addUnit($index + 1)"></span></td>
      <td><input type="text" ng-model="unit[0]"></td>
      <td><div stem-input-numerical="unit[1].mult"></div></td>
      <td><div stem-input-numerical="unit[1].offset"></div></td>
    </tr>
  </table> 
</div>
{% endraw %}
{% endblock %}