{% extends "StemBase.html" %}
			
{% block BodyContent %}
{% raw %}
<div ng-controller="RegisterCtrl" class="container-fluid" style="margin: 10px; padding-top: 50px">
  <div class="row">
	  <div class="col-sm-4"></div>
	  <div class="col-sm-4">
		  <form class="form-signin" id="RegisterForm">
		   <label for="inputUserName">User name*</label>
		    <input type="text" id="inputUserName" class="form-control" placeholder="User name" required autofocus>
		    <label for="inputEmail">Email address*</label>
		    <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required>
            <label for="inputFirstName">First name*</label>
            <input type="text" id="inputFirstName" class="form-control" placeholder="First name" required>
            <label for="inputLastName">Last name*</label>
            <input type="text" id="inputLastName" class="form-control" placeholder="Last name" required>
            <label for="inputCountry">Country*</label>
            <input type="text" id="inputCountry" class="form-control" placeholder="Country" required>
            <label for="inputOrganization">Organization</label>
            <input type="text" id="inputOrganization" class="form-control" placeholder="Organization" autofocus>
		    <label for="inputPassword">Password*</label>
		    <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
		    <label for="confirmPassword">Confirm your password*</label>
		    <input type="password" id="confirmPassword" class="form-control" placeholder="Confirm Password" required>
		    <button class="btn btn-lg btn-primary btn-block" type="submit">Register</button>
		  </form>
	  </div>
	  <div class="col-sm-4"></div>
  </div>
  <div class="row">
  	<div class="col-sm-4"></div>
  	<div class="col-sm-4" id="registrationMessage">
  	</div>
  	<div class="col-sm-4"></div>
  </div>
</div>
{% endraw %}
{% endblock %}

