<html>
<head>
    <!-- jQuery -->
	<script src="/static/ext/jquery.min.js"></script>
	<!-- jQuery Class (not official) -->
	<script src="/static/ext/jquery.class.js"></script>
    <!-- jQuery UI -->
	<script src="http://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
	<link rel="stylesheet" href="https://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="/static/ext/bootstrap.min.css"> 
    <script src="/static/ext/bootstrap.min.js"></script>
	<!-- Angular -->
	<script src="/static/ext/angular/angular.min.js"></script>
	<script src="/static/ext/angular/angular-resource.min.js"></script>
	<!-- Ace -->	
	<script src="/static/ext/ace/ace.js"></script>
	<script src="/static/ext/ace/ext-static_highlight.js"></script>
	<!-- Stem -->
	<link rel="stylesheet" href="/static/css/Stem.css">
	<script src="/static/js/StemCore.js"></script>
	<script src="/static/js/StemDirectives.js"></script>
	<!-- ContextMenu -->
	<link rel="stylesheet" href="/static/css/jquery.contextMenu.css">
	<script src="/static/js/contextMenu/jquery.ui.position.js"></script>
	<script src="/static/js/contextMenu/jquery.contextMenu.js"></script>
	<!-- Numeral.js -->
	<script src="//cdnjs.cloudflare.com/ajax/libs/numeral.js/1.4.5/numeral.min.js"></script>
	<!-- Stem Table -->
	<link rel="stylesheet" href="/static/css/StemTable.css">
	<script src="/static/js/StemTable.js"></script>

  <script>
  Stem.factory('PageSettings', function() {
    var settings = {
    {% block PageSettings %}
		    
    {% endblock %}
    };
    return settings;
  });
  </script>
</head>
<body ng-app="Stem">
  {% include 'angular/AngularStemTemplates.html' %}
  {% block BodyContent %}
  {% raw %}
  <div ng-controller="ModelCollectionCtrl">
    <h1>Models</h1>
    <button type="button" class="btn btn-primary" ng-click="createModel()">New</button>
    <br><br>
    <div ng-repeat="model in models">
    	<h2>{{model.name}}</h2>
    	<div>{{model.description}}</div>
    	<div>Created: {{model.creationDate}}</div>
    	<div class="btn-group" role="group" aria-label="Model buttons">
    		<button class="btn btn-primary" ng-click="editModel(model)">Edit</button>
    		<button class="btn btn-primary" ng-click="deleteModel(model)">Delete</button>
    	</div>
    	<br>
    </div>
  </div>
  {% endraw %}
  {% endblock %}
</body>
</html>